.button {
  .buttonInner {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    padding: 12px;

    color: rgb(245 245 245);
    background-color: rgb(31 136 61);
    border-radius: 8px;

    cursor: pointer;
  }

  &:active .buttonInner {
    scale: 0.9;
  }
}
