.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;

  .deleteAllButton {
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 4px;
    transition: all 0.3s ease, scale 0s;

    cursor: pointer;

    &:hover {
      background-color: rgb(245 245 245);
    }

    &:active {
      scale: 0.95;
    }

    &:not(.is-visible) {
      opacity: 0;
      visibility: hidden;
    }
  }
}
